  <div class="row border-bottom">
   <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
         <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#"><i class="fa fa-bars"></i> </a>
         <form role="search" class="navbar-form-custom" action="<%#= url_for :controller => 'pages', :action => 'search_results' %>">
         </form>
      </div>
      <ul class="nav navbar-top-links navbar-right">
         <li style="padding: 20px">
            <h4><span class="m-r-sm text-muted welcome-message">  Welcome to Admin Panel</span></h4>
         </li>
         <li>
             <a href="<%= url_for :controller => 'admin/sessions', :action => 'logout' %>"> 
                    <i class="fa fa-sign-out">Log out</i> 
                </a>
         </li>
         <li>
            <a class="right-sidebar-toggle">
            <i class="fa fa-tasks"></i>
            </a>
         </li>
      </ul>
   </nav>
</div>