<style type="text/css">
          <link rel="stylesheet" type="text/css" href="./style.css" />
</style>
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <div class="col-lg-3"><h2>New Gallery</h2></div>
    <div class="col-lg-9">
      <!-- <a href="<%#=admin_cities_new_item_path(params[:id])%>" class="btn btn-danger btn-lg pull-right" style="margin-top: 2%;"><i class="fa fa-plus"></i> Add Menu Item </a> -->
    </div>  
  </div> 
</div>
<div class="row"> 
  <div class="col-lg-10"style="padding-left:200px;">
    <div class="ibox">
      <div class="col-lg-12">
        <br>
        <%=form_for :user,url: admin_gallerys_create_path,:html=>{:id=>"new_form",:class=>"form",:multipart =>true} do |g|%>
          <div class="panel panel-info">
            <div class="panel-heading">User Details</div>
            <div class="panel-body">
              <input type="hidden" name="project_id" value="<%=@project.id%>">
                                    
             
            <div class="form-group row">
        <label class="col-sm-3 col-form-label">Image</label>
          <div class="col-sm-6">
           <img src="" class="img-tag img1" style="width:200px;height:200px;"> 
              <input type="file" 
                     name="image" id="img1" onchange='readURL(event)'required=true>
          </div>
      </div>
              
              
             
             
        
            <div class="form-group">
                <button class="btn btn-md btn-primary pull-right" type="submit"style="margin-top: -29px;" id="submit"><strong>Submit</strong></button>     
              </div>           
            </div>
          </div>
        <%end%> 
      </div>
    </div>
  </div>
</div>    
 <script type="text/javascript">
    function readURL(event) {
    var componentId = event.target.id
    var getImagePath = URL.createObjectURL(event.target.files[0]);
    $('.upload-image').css('background-image', 'url(' + getImagePath + ')');
    $('.' + componentId).attr("src", getImagePath);
    file = event.target.files[0]
  }

  </script> 
