<style type="text/css">
   <link rel="stylesheet" type="text/css" href="./style.css" />
</style>
<div class="row wrapper border-bottom white-bg page-heading">
   <div class="col-lg-12">
      <div class="col-lg-4">
         <h2>Project Details</h2>
      </div>
      <div class="col-lg-9">
         <!-- <a href="<%#=admin_cities_new_item_path(params[:id])%>" class="btn btn-danger btn-lg pull-right" style="margin-top: 2%;"><i class="fa fa-plus"></i> Add Menu Item </a> -->
      </div>
   </div>
</div>
<div class="row">
   <div class="col-lg-10"style="padding-left:200px;">
      <div class="ibox">
         <div class="col-lg-12">
            <br>
            <%=form_for :user,url: admin_projects_create_path,:html=>{:id=>"new_form",:class=>"form",:multipart =>true} do |p|%>
           <%render partial:"new"%>
            <%end%> 
         </div>
      </div>
   </div>
</div>